<%= form_for [:v1, @video_file] do |f| %>
  <% if @video_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video_file.errors.count, "error") %> prohibited this video_file from being saved:</h2>

      <ul>
      <% @video_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from %><br>
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br>
    <%= f.text_field :to %>
  </div>
    <div class="field">
      <%= f.label :source_video %><br>
      <%= f.file_field :source_video %>
    </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
