<p id="notice"><%= notice %></p>

<h1>Listing Video Files</h1>

<table>
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @video_files.each do |video_file| %>
      <tr>
        <td><%= video_file.from %></td>
        <td><%= video_file.to %></td>
        <td><%= link_to 'Show', [:v1, video_file] %></td>
        <td><%= link_to 'Edit', edit_v1_video_file_path(video_file) %></td>
        <td><%= link_to 'Destroy', [:v1, video_file], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video file', new_v1_video_file_path %>
