<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @video_file.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @video_file.to %>
</p>

<%= link_to 'Edit', edit_v1_video_file_path(@video_file) %> |
<%= link_to 'Back', v1_video_files_path %>
